<app-topbar></app-topbar>
<div class="container">
    <p class="texto">Bem-Vindo(a)</p>
    <form>
        <mat-form-field>
            <input matInput placeholder="Usuário" [(ngModel)]="user.login" name="user">
        </mat-form-field>
        <mat-form-field>
            <input input matInput type="password" placeholder="Senha" [(ngModel)]="user.senha" name="senha">
        </mat-form-field>
        <mat-checkbox class="checkbox" color="primary">
            Manter-me logado
        </mat-checkbox>
    </form>
    <button mat-raised-button (click)="navigateToHome()" color="primary">
        Entrar
    </button>
    <mat-error *ngIf="passou">
        Favor preencher o campo <strong>usuário</strong>
    </mat-error>
</div>


