button{
    margin: 30px 0 30px 15px;
}
table{
    width: 95%;
    margin-left: 2.4%;
}
th{
    background-color: blueviolet;
    align-items: center;
    color: #FFF;
    font-size: 1rem;
}
td{
    background-color: lightblue;
    font-size: 1rem;
}