<mat-tab-group animationDuration="1000ms">
    <mat-tab label="Lazer/Cultura/Notícias">
        <mat-card-content class="content">
            <mat-card class="cards">
                <mat-card-header>
                    <mat-card-title>Semana do idoso</mat-card-title>
                    <mat-card-subtitle>Do dia 25 ao dia 29 de setembro de 2021</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/img/geral/o1.jpg" alt="o1">
                <mat-card-content>
                    <p>Com o tema “O Respeito Não Tem Idade”, a Prefeitura de Contagem, 
                        por meio das secretarias municipais de Direitos Humanos e Cidadania e de 
                        Desenvolvimento Social, promove entre os dias 25 e 29 de setembro a 
                        Semana do Idoso. </p>

                    <p>Na programação estão previstas atividades culturais, palestras sobre o 
                        Estatuto do Idoso, direito previdenciário, saúde na melhor idade, 
                        concurso de dança, forró, entre outros eventos que prometem levar 
                        informação e estimular a socialização dos participantes. </p>
                    <p>Para mais informações  
                        <a href="http://www.contagem.mg.gov.br/?materia=099442" target="_blank">CLIQUE AQUI</a>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>OPINAR</button>
                    <button mat-button>COMPARTILHAR</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="cards">
                <mat-card-header>
                    <mat-card-title>Procurando um bom som?</mat-card-title>
                    <mat-card-subtitle>Fique ligado, pois no dia 31 de outubro de 2021 temos o seguinte:</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/img/geral/o2.png" alt="o2">
                <mat-card-content>
                    <p>Na quinta (31/10), a partir das 13:30, será realizada uma apresentação 
                        da Orquestra Sinfônica de Mogi das Cruzes, com regência do 
                        maestro Lélis Gerson.</p>
                    <p>Para mais informações  
                        <a href="https://www.mogidascruzes.sp.gov.br/noticia/eventos-encerram-mes-do-idoso-com-apresentacoes-de-musica-e-danca" target="_blank">CLIQUE AQUI</a>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>OPINAR</button>
                    <button mat-button>COMPARTILHAR</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="cards">
                <mat-card-header>
                    <mat-card-title>Olimpíadas SESC</mat-card-title>
                    <mat-card-subtitle>Nos dias 13 e 14 de setembro de 2021</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/img/geral/o3.jpg" alt="o3">
                <mat-card-content>
                    <p>O SESC Arcoverde realiza nos dias 13 e 14 de setembro as Olimpíadas da 
                        Terceira Idade. Um dos eventos mais tradicionais voltado para os idosos 
                        e que conta com atividades de dança, corrida, natação, 
                        boliche e arremesso de peso.</p>
                    <p>Para mais informações 
                        <a href="https://www.blogfalandofrancamente.com/2013/09/sesc-arcoverde-realiza-as-olimpiadas-da.html" target="_blank">CLIQUE AQUI</a>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>OPINAR</button>
                    <button mat-button>COMPARTILHAR</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="cards">
                <mat-card-header>
                    <mat-card-title>Live no Instagram sobre alienação parental</mat-card-title>
                    <mat-card-subtitle>Dia 01 de maio de 2021 às 18 horas</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/img/geral/o4.jpg" alt="o4">
                <mat-card-content>
                    <p>COMO ACESSAR:</p>
                    <p>1. Faça o download e crie uma conta no Instagram, caso não tenha;</p>
                    <p>2. Faça login no aplicativo;</p>
                    <p>3. Na parte de pesquisa, no horário da live, digite @idbfamrs;</p>
                    <p>4. Clique na foto do perfil do Instagram e assista!</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>OPINAR</button>
                    <button mat-button>COMPARTILHAR</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="cards">
                <mat-card-header>
                    <mat-card-title>Vacinação contra o COVID-19</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/img/geral/o5.jpg" alt="o5">
                <mat-card-content>
                    <p>Tem sequência nesta segunda-feira, 15, a vacinação de idosos contra o novo 
                        coronavírus no drive-thru do Centro de Eventos Cora Coralina, 
                        das 8h às 13h. A novidade fica por conta do início da vacinação de 
                        idosos com 75 e 76 anos.</p>
                    <p>A vacinação acontece exclusivamente no Centro de Eventos Cora Coralina, 
                        das 8h às 13h, de segunda a sexta-feira. Apenas na próxima sexta-feira, dia 19, 
                        a vacinação acontecerá das 8h às 11h em virtude da entrega da cesta básica aos 
                        servidores municipais.</p>
                    <p>Fonte: 
                        <a href="https://portaljfonte.com.br/jaboticabal-inicia-vacinacao-de-idosos-com-75-e-76-anos-nesta-segunda-feira-15/" target="_blank">AQUI</a>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>OPINAR</button>
                    <button mat-button>COMPARTILHAR</button>
                </mat-card-actions>
            </mat-card>
        </mat-card-content>
    </mat-tab>
    <mat-tab label="Legislação">
        <mat-card-content class="content">
            <mat-card class="cards">
                <img mat-card-image src="assets/img/geral/g2.jpg" alt="g2">
                <mat-card-actions>
                    <button mat-button>OPINAR</button>
                    <button mat-button>COMPARTILHAR</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="cards">
                <mat-card-header>
                    <mat-card-title>Direitos gerais</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/img/geral/g1.jpg" alt="g1">
                <mat-card-actions>
                    <button mat-button>OPINAR</button>
                    <button mat-button>COMPARTILHAR</button>
                </mat-card-actions>
            </mat-card>
        </mat-card-content>
    </mat-tab>
</mat-tab-group>