<mat-card-content class="content">
    <mat-card class="cards">
        <mat-card-header>
            <mat-card-title>Dicas de alimentação</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/img/alimentacao/a1.jpg" alt="a1">
        <mat-card-actions>
            <button mat-button>OPINAR</button>
            <button mat-button>COMPARTILHAR</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="cards">
        <mat-card-header>
            <mat-card-title>Problema do dia</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/img/alimentacao/a2.jpg" alt="a2">
        <mat-card-actions>
            <button mat-button>OPINAR</button>
            <button mat-button>COMPARTILHAR</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="cards">
        <mat-card-header>
            <mat-card-title>Alimento do dia</mat-card-title>
            <mat-card-subtitle>Preço: o maço costuma custar um valor em torno de R$2,50</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/alimentacao/a3.jpg" alt="a3">
        <mat-card-actions>
            <button mat-button>OPINAR</button>
            <button mat-button>COMPARTILHAR</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="cards">
        <mat-card-header>
            <mat-card-title>Receita do dia:</mat-card-title>
            <mat-card-subtitle>INGREDIENTES: 300g de milharina; 1 copo (americano) de água; sal a gosto</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/alimentacao/a4.jpg" alt="a4">
        <mat-card-content>
            <p>MODO DE PREPARO:</p>
            <p>1. Coloque a milharina e o sal em um recipiente</p>
            <p>2. Acrescente água aos poucos e mexa bem</p>
            <p>3. Após a mistura, coloque tudo em uma cuscuzeira e leve ao fogo</p>
            <p>4. Quando a água da cuscuzeira começar a ferver coloque em fogo baixo e deixe no vapor por 5 minutos</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>OPINAR</button>
            <button mat-button>COMPARTILHAR</button>
        </mat-card-actions>
    </mat-card>
</mat-card-content>