/* You can add global styles to this file, and also import other style files */

html, body { height: 94%; margin:0 20% 0 20%}
body { margin:0px 0px 0px 0px; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: lightgreen; }
