<mat-card-content class="content">
    <mat-card class="home mat-elevation-z3" routerLink="/receita-read">
        <label mat-card-title class="title">
            <i class="material-icons icon">
                qr_code_scanner
            </i>
            Ler receituário
        </label>
    </mat-card>

    <mat-card class="home mat-elevation-z3" routerLink="/alimentacao">
        <label mat-card-title class="title">
            <i class="material-icons icon">
                local_dining
            </i>
            Alimentação
        </label>
    </mat-card>

    <mat-card class="home mat-elevation-z3" routerLink="/exercicios">
        <label mat-card-title class="title">
            <i class="material-icons icon">
                fitness_center
            </i>
            Exercícios
        </label>
    </mat-card>

    <mat-card class="home mat-elevation-z3" routerLink="/seguranca">
        <label mat-card-title class="title">
            <i class="material-icons icon">
                verified_user
            </i>
            Segurança
        </label>
    </mat-card>

    <mat-card class="home mat-elevation-z3" routerLink="/outros">
        <label mat-card-title class="title">
            <i class="material-icons icon">
                accessibility_new
            </i>
            Outras informações
        </label>
    </mat-card>
</mat-card-content>