.content{
    margin: 5% 10% 3% 10%;
}

.cards{
    background-color: lavender;
    margin-bottom: 30px;
}
button{
    color: #FFF;
    background-color: blueviolet;
}
.example-full-width{
    width: 100%;
}