<mat-tab-group animationDuration="1000ms">
    <mat-tab label="Diário">
        <mat-card-content class="content">
            <mat-card class="cards">
                <mat-card-header>
                    <mat-card-title>Por que praticar atividade física?</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/img/exercicios/e6.jpg" alt="e1">
                <mat-card-actions>
                    <button mat-button>OPINAR</button>
                    <button mat-button>COMPARTILHAR</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="cards">
                <mat-card-header>
                    <mat-card-title>Dica do dia</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/img/exercicios/e5.jpg" alt="e1">
                <mat-card-actions>
                    <button mat-button>OPINAR</button>
                    <button mat-button>COMPARTILHAR</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="cards">
                <mat-card-header>
                    <mat-card-title>Exercício do dia - Extensão de quadril</mat-card-title>
                    <mat-card-subtitle>3 séries de 20 repetições</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/img/exercicios/e3.jpg" alt="e1">
                <mat-card-content>
                    <p>COMO FAZER:</p>
                    <p>1. Posicione-se em pé de frente para uma cadeira;</p>
                    <p>2. Apoie uma de suas mãos na cadeira ou parede;</p>
                    <p>3. Estenda uma das pernas para trás, tirando o pé do chão.</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>OPINAR</button>
                    <button mat-button>COMPARTILHAR</button>
                </mat-card-actions>
            </mat-card>
        </mat-card-content>
    </mat-tab>
    <mat-tab label="Execícios anteriores">
        <mat-card-content class="content">
            <mat-card class="cards">
                <mat-card-header>
                    <mat-card-title>Exercício - Panturrilha livre</mat-card-title>
                    <mat-card-subtitle>3 séries de 20 repetições</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/img/exercicios/e1.jpg" alt="e1">
                <mat-card-content>
                    <p>COMO FAZER:</p>
                    <p>1. Posicione-se em pé de frente para uma cadeira;</p>
                    <p>2. Apoie ambas as mãos na cadeira ou parede;</p>
                    <p>3. Suba nas pontas dos pés, realizando o movimento de subir e descer;</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>OPINAR</button>
                    <button mat-button>COMPARTILHAR</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="cards">
                <mat-card-header>
                    <mat-card-title>Exercício - Agachamento</mat-card-title>
                    <mat-card-subtitle>3 séries de 20 repetições</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/img/exercicios/e2.jpg" alt="e1">
                <mat-card-content>
                    <p>COMO FAZER:</p>
                    <p>1. Sentado em uma cadeira, com as pernas paralelas;</p>
                    <p>2. Apoie as mãos com braços esticados em outra cadeira;</p>
                    <p>3. Em seguida, levante-se segurando na cadeira e torne a sentar;</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>OPINAR</button>
                    <button mat-button>COMPARTILHAR</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="cards">
                <mat-card-header>
                    <mat-card-title>Exercício - Elevação de membros superiores</mat-card-title>
                    <mat-card-subtitle>3 séries de 20 repetições</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/img/exercicios/e4.jpg" alt="e1">
                <mat-card-content>
                    <p>COMO FAZER:</p>
                    <p>1. Posicione-se em pé, com as pernas ligeiramente afastadas;</p>
                    <p>2. Com os cotovelos estendidos, segure o bastão frente ao corpo;</p>
                    <p>3. Eleve o bastão acima da cabeça, retornando novamente para a posição inicial;</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>OPINAR</button>
                    <button mat-button>COMPARTILHAR</button>
                </mat-card-actions>
            </mat-card>
        </mat-card-content>
    </mat-tab>
</mat-tab-group>