<mat-tab-group animationDuration="1000ms">
    <mat-tab label="Segurança Física">
        <mat-card-content class="content">
            <mat-card class="cards">
                <mat-card-header>
                    <mat-card-title>Segurança em casa</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/img/seguranca/s1.jpg" alt="s1">
                <mat-card-actions>
                    <button mat-button>OPINAR</button>
                    <button mat-button>COMPARTILHAR</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="cards">
                <mat-card-header>
                    <mat-card-title>Juntos contra o corona vírus</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/img/seguranca/s2.jpg" alt="s2">
                <mat-card-actions>
                    <button mat-button>OPINAR</button>
                    <button mat-button>COMPARTILHAR</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="cards">
                <mat-card-header>
                    <mat-card-title>Dicas do dia</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/img/seguranca/s7.png" alt="s7">
                <mat-card-actions>
                    <button mat-button>OPINAR</button>
                    <button mat-button>COMPARTILHAR</button>
                </mat-card-actions>
            </mat-card>
        </mat-card-content>
    </mat-tab>
    <mat-tab label="Segurança Digital">
        <mat-card-content class="content">
            <mat-card class="cards">
                <mat-card-header>
                    <mat-card-title>Segurança em primeiro lugar!</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/img/seguranca/s5.jpg" alt="s5">
                <mat-card-actions>
                    <button mat-button>OPINAR</button>
                    <button mat-button>COMPARTILHAR</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="cards">
                <mat-card-header>
                    <mat-card-title>WhatsApp</mat-card-title>
                    <mat-card-subtitle>dicas de como identificar uma mensagem duvidosa</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/img/seguranca/s3.png" alt="s3">
                <mat-card-content>
                    <p>COMO DENUNCIAR:</p>
                    <p>No Android: Abra o aplicativo do WhatsApp > Menu > Ajustes > Sobre e Ajuda > Fale Conosco</p>
                    <p>No iPhone: Abra o aplicativo do WhatsApp > Ajustes > Sobre e Ajuda > Fale Conosco</p>
                    <p>No Windows Phone: Abra o aplicativo do WhatsApp > Mais > Ajustes > Sobre > Fale Conosco</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>OPINAR</button>
                    <button mat-button>COMPARTILHAR</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="cards">
                <mat-card-header>
                    <mat-card-title>Dica do dia</mat-card-title>
                    <mat-card-subtitle>Phising</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/img/seguranca/s4.png" alt="s4">
                <mat-card-content>
                    <p>O que é phishing?</p>
                    <p>Phishing é um tipo de roubo de identidade online. Essa ação fraudulenta é caracterizada por tentativas de adquirir ilicitamente dados pessoais de outra pessoa, sejam senhas, dados financeiros, dados bancários, números de cartões de crédito ou simplesmente dados pessoais.</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>OPINAR</button>
                    <button mat-button>COMPARTILHAR</button>
                </mat-card-actions>
            </mat-card>
        </mat-card-content>
    </mat-tab>
</mat-tab-group>