<mat-toolbar>
    <mat-toolbar-row class="header">
        
        <span>
            <a>
                <img class="logo" src="assets/img/Logo2.png" alt="logo1">
            </a>
        </span>
        <span class="spacer"></span>
        <span class="title-group">
            <a>
                <i class="material-icons">
                    elderly
                </i>
                Saude&Info+
                <i class="material-icons">
                    elderly
                </i>
            </a>
        </span>
        <span class="spacer"></span>
        <span>
            <a>
                <img class="logo" src="assets/img/Logo2.png" alt="logo2">
            </a>
        </span>
    </mat-toolbar-row>
</mat-toolbar>